[submodule "Tui"]
	path = Tui
	url = git@github.com:ScottGibb/LED-Strip-Controller-TUI.git
[submodule "Multi-Platofrm-App"]
	path = Multi-Platform-App
	url = git@github.com:ScottGibb/LED-Strip-Controller-Tauri-App.git
